body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(5,0,87,1) 36%, rgba(98,0,0,1) 100%);
}

label{ 
    color: #fff;
    
}

h1 {
    color:#fff;
    text-align:center;
    padding-top: 1in;
}